/* GENERAL */
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	color: #c4cbcf;
	background-color: cornflowerblue;
	font-family: 'Source Sans Pro', sans-serif;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
	content: " ";
	display: table;
}

.container:after,
.group:after,
.menu:after {
	clear: both;
}

.container,
.group,
.menu {
	*zoom:1;
}

a {
	text-decoration: none;
}

strong {
	font-weight: 900;
}

.container {
    width: 100%;
	/*max-width: 1170px;*/
	margin: 0 auto;
}

i {
    padding: 7px;
    padding-right: 12px;
}

/* NAVIGATION */
.nav-bar {
	background: #121b21;
	display: flex;
  	align-items: center;
}

.initials{
    font-size: 70px;
    letter-spacing: -12px;
    padding-right: 12px;
}

.post-initials {
    margin-left: -94px;
}

.navigation {
	margin: 0 auto;
	height: 84px;
    list-style: none;
	padding-left: 0;
}

.navigation a {
	color: #c4cbcf;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
}

.navigation li {
	float: right;
	padding-top: 1.7em;
	padding-right: 5em;
}

.navigation li:first-child {
	padding-left: 150px;
    padding-top: 0em;
    padding-right: 5em;
    float: left;
}

.navigation li:nth-child(2) {
	padding-:;
}
